apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: dc-metro-map-jcaf
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: dc-metro-map-jcaf
    app.kubernetes.io/part-of: appstudio
  name: dc-metro-map-jcaf
spec:
  replicas: 0
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: nodejs-app
      app.kubernetes.io/instance: dc-metro-map-jcaf
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nodejs-app
        app.kubernetes.io/instance: dc-metro-map-jcaf
    spec:
      containers:
      - image: quay.io/qijing/push-pyxis-nthq-tenant/appstudio/dc-metro-map-jcaf@sha256:5f3a703fa7a628178851c9bdeeaeb777dbc667b43b3f3efb577fb04b8908c14c
        name: my-nodejs
        ports:
        - containerPort: 3001
          name: http
          protocol: TCP
        - containerPort: 8081
        resources:
          limits:
            cpu: 500m
            memory: 1Gi
status: {}
